<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="alert alert-primary" role="alert">
      A simple primary alert—check it out!
    </div>
    <a href="/auth/login" type="button" class="btn btn-primary">Login</a>
  </body>
</html>
